use stdio
use stdlib
use GLFW.glfw3    

fn sub(x:i32, y:i32) -> i32 {
    return x - y;
}

fn main() {
    add(10, 5);
    sub(3, -1); // ANOTHER
    println!("Hello!");
    // Comment
}


fn add(x:i32, y:i32) -> i32 {
    return x + y;
}



