use raylib
use GLFW.glfw3

fn sub(x:i32, y:i32) -> i32 {
    return x - y;
}

fn main() {
    let x:i32 = 10;
    
    if x > 3 {
        printf("Hello World\n");
    }
    
    add(10, 5);
    sub(3, -1); // ANOTHER
    // Comment
    println!("Hello!");        
}

fn add(x:i32, y:i32) -> i32 {
    return x + y;
}

